{% extends 'ecom/base.html' %}
{% load static %}
{% block title %} About Us || PanmuCyber Store{% endblock %}
{% block content %}
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->

            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span>Offer The Best</span>Products To You</h2>
                                <p>We offer quality products and services to our clients in and out of Nairobi.
                                    We are a top store in Nairobi offering quality electronic products and cyber-cafe services.
                                    You can purchase our product without any problems because
                                    of the good reviews and all our customers believe and are always happy to buy our product.</p>

                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" src="{% static 'images/menu/logo/logo.jpg' %}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->

{% endblock %}