{% extends 'ecom/base.html' %}
{% load static %}
{% block title %} Products || PanmuCyber Store{% endblock %}
{% block content %}

            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li class="active">All Products</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->

            <!-- Begin Li's Content Wraper Area -->
            <div class="content-wraper pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Li's Banner Area -->
                            <div class="single-banner shop-page-banner">
                                <a href="products">
                                    <img src="{% static 'images/bg-banner/bg.jpg' %}" alt="Static Banner">
                                </a>
                            </div>
                            <!-- Li's Banner Area End Here -->

                            <!-- shop-top-bar start -->
                            <div class="shop-top-bar mt-30">
                                <div class="shop-bar-inner">
                                    <div class="product-view-mode">
                                        <!-- shop-item-filter-list start -->
                                        <ul class="nav shop-item-filter-list" role="tablist">
                                            <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab" role="tab" aria-controls="grid-view" href="#grid-view"><i class="fa fa-th"></i></a></li>
                                            <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i class="fa fa-th-list"></i></a></li>
                                        </ul>
                                        <!-- shop-item-filter-list end -->
                                    </div>

                                </div>

                            </div>
                            <!-- shop-top-bar end -->

                            <!-- shop-products-wrapper start -->
                            <div class="shop-products-wrapper">
                                <div class="tab-content">
                                    <!-- grid view -->
                                    <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
                                        <div class="product-area shop-product-area">
                                            <div class="row">
                                                {% if products|length == 0 %}
                                                <div class="alert alert-warning col-12">
                                                    <strong>
                                                        <h3>No Product Found!</h3>
                                                    </strong>
                                                </div>
                                                {% elif products|length > 0 %}
                                                    {% for product in products %}
                                                        <div id="{{ product.id }}" class="col-lg-3 col-md-4 col-sm-6 mt-40">
                                                            <!-- single-product-wrap start -->
                                                            <div class="single-product-wrap">
                                                                <div class="product-image">
                                                                    <a href="{{ product.get_absolute_url }}">
                                                                        <img src="{{ product.product_image.url }}" alt="Li's Product Image">
                                                                    </a>
                                                                    <span class="sticker">New</span>
                                                                </div>
                                                                <div class="product_desc">
                                                                    <div class="product_desc_info">
                                                                        <div class="product-review">
                                                                            <h5 class="manufacturer">
                                                                                <a href="{{ product.get_absolute_url }}">Latest</a>
                                                                            </h5>
                                                                            <div class="rating-box">
                                                                                <ul class="rating">
                                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <h4><a class="product_name" href="{{ product.get_absolute_url }}">{{ product.name|truncatechars:60 }}</a></h4>
                                                                        <div class="price-box">
                                                                            <span class="new-price">Ksh. {{ product.price }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="add-actions">
                                                                        <ul class="add-actions-link">
                                                                            {% if pro %}
                                                                                <li class="add-cart active"><a href="/cart">View Cart</a></li>
                                                                            {%else%}
                                                                                <li class="add-cart active"><a href="{% url 'add-to-cart' product.id  %}">Add to cart</a></li>
                                                                            {% endif %}
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    <!-- single-product-wrap end -->
                                                </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <!-- pagination -->
                                        <div class="paginatoin-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <p>Showing Page {{products.number}} of {{products.paginator.num_pages}}</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="pagination-box">
                                                    {% if products.has_previous %}
                                                    <li><a href="?page={{products.previous_page_number}}" class="Previous"><i class="fa fa-chevron-left"></i> Previous</a>
                                                    </li>
                                                    {% endif %}

                                                    {% if products.has_next %}
                                                    <li>
                                                      <a href="?page={{products.next_page_number}}" class="Next"> Next <i class="fa fa-chevron-right"></i></a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </div>

                                    <!-- list view -->
                                    <div id="list-view" class="tab-pane product-list-view fade" role="tabpanel">
                                        <div class="row">
                                            {% if products|length == 0 %}
                                                <div class="alert alert-warning col-12">
                                                    <strong>
                                                        <h3>No Product Found!</h3>
                                                    </strong>
                                                </div>
                                                {% elif products|length > 0 %}
                                                    {% for p in products %}
                                            <div class="col">
                                                <div class="row product-layout-list">
                                                    <div id="{{ p.id }}" class="col-lg-3 col-md-5">
                                                        <div class="product-image">
                                                            <a href="{{ p.get_absolute_url }}">
                                                                <img src="{{ p.product_image.url }}" alt="Li's Product Image">
                                                            </a>
                                                            <span class="sticker">New</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-5 col-md-7">
                                                        <div class="product_desc">
                                                            <div class="product_desc_info">
                                                                <div class="product-review">
                                                                    <h5 class="manufacturer">
                                                                        <a href="{{ p.get_absolute_url }}">Latest</a>
                                                                    </h5>
                                                                    <div class="rating-box">
                                                                        <ul class="rating">
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <h4><a class="product_name" href="{{ p.get_absolute_url }}">{{ p.name|truncatechars:60 }}</a></h4>
                                                                <div class="price-box">
                                                                    <span class="new-price">Ksh. {{ p.price }}</span>
                                                                </div>
                                                                <p>{{ p.description }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="shop-add-action mb-xs-30">
                                                            <ul class="add-actions-link">
                                                                <li class="add-cart active"><a href="/cart">View Cart</a></li>
                                                                <input class="add-cart active btn btn-primary" type="submit" value="Add to cart">
                                                                <!-- <li class="add-cart active"><a href="shopping-cart.html">Add to cart</a></li>-->
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>

                                        <!-- pagination -->
                                        <div class="paginatoin-area">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <p>Showing Page {{products.number}} of {{products.paginator.num_pages}}</p>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <ul class="pagination-box">
                                                    {% if products.has_previous %}
                                                    <li><a href="?page={{products.previous_page_number}}" class="Previous"><i class="fa fa-chevron-left"></i> Previous</a>
                                                    </li>
                                                    {% endif %}

                                                    {% if products.has_next %}
                                                    <li>
                                                      <a href="?page={{products.next_page_number}}" class="Next"> Next <i class="fa fa-chevron-right"></i></a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                            <!-- shop-products-wrapper end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Wraper Area End Here -->
            </div>

{% endblock %}


<!--
  <style media="screen">
    body,
html {
  height: 100%;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body {
  background-color:#f7f7f7;
}

.page-wrapper {
  height: 100%;
  display: table;
}

.page-wrapper .page-inner {
  display: table-cell;
  vertical-align: middle;
}

.el-wrapper {
  width: 360px;
  padding: 15px;
  margin: 15px auto;
  background-color: #fff;
  border-radius: 15px;
}

@media (max-width: 991px) {
  .el-wrapper {
    width: 345px;
  }
}

@media (max-width: 767px) {
  .el-wrapper {
    width: 290px;
    margin: 30px auto;
  }
}

.el-wrapper:hover .h-bg {
  left: 0px;
}

.el-wrapper:hover .price {
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #f3f3f3;
}

.el-wrapper:hover .add-to-cart {
  left: 50%;
}

.el-wrapper:hover .img {
  webkit-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius='7', shadowopacity='0.0');
  opacity: 0.4;
}

.el-wrapper:hover .info-inner {
  bottom: 155px;
}

.el-wrapper:hover .a-size {
  -webkit-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
  bottom: 50px;
  opacity: 1;
}

.el-wrapper .box-down {
  width: 100%;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.el-wrapper .box-up {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.el-wrapper .img {
  padding: 20px 0;
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
}

.h-bg {
  -webkit-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 800ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  width: 660px;
  height: 100%;
  background-color: #3fcd7f;
  position: absolute;
  left: -659px;
}

.h-bg .h-bg-inner {
  width: 50%;
  height: 100%;
  background-color: #464646;
}

.info-inner {
  -webkit-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 400ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: 10px;
}

.info-inner .p-name,
.info-inner .p-company {
  display: block;
}

.info-inner .p-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #252525;
}

.info-inner .p-company {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* text-transform: uppercase; */
  color: #fbfbfb;
}

.a-size {
  -webkit-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 300ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  position: absolute;
  width: 100%;
  bottom: -20px;
  font-family: 'PT Sans', sans-serif;
  color: #2b2b2b;
  font-weight: 600;
  opacity: 0;
}

.a-size .size {
  color: #252525;
}

.cart {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* font-family: 'Lato', sans-serif; */
  font-weight: 700;
}

.cart .price {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #252525;
}

.cart .add-to-cart {
  -webkit-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -moz-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  -o-transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  transition: all 600ms cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.18, 1);
  /* ease-out */
  -webkit-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
  display: block;
  position: absolute;
  top: 50%;
  left: 110%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cart .add-to-cart .txt {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  white-space: nowrap;
}
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
} */

img {
  max-width: 100%;
}

.slider-container{
  height: 35%;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
}

.menu label {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50px;
  margin: 0 .2em 1em;
  &:hover {
    background: red;
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("{% static 'images/' %}");
}
.slide-2 {
  background-image: url("{% static 'images/' %}");
}
.slide-3 {
  background-image: url("{% static 'images/' %}");
}
.slide-4 {
  background-image: url("{% static 'images/' %}");
}
  </style>

<div class="row">
  <div class="col-md-12">
    <div class="slider-container">
      <div class="menu">
        <label for="slide-dot-1"></label>
        <label for="slide-dot-2"></label>
        <label for="slide-dot-3"></label>
        <label for="slide-dot-4"></label>
      </div>

      <input id="slide-dot-1" type="radio" name="slides" checked>
        <div class="slide slide-1"></div>

      <input id="slide-dot-2" type="radio" name="slides">
        <div class="slide slide-2"></div>

      <input id="slide-dot-3" type="radio" name="slides">
        <div class="slide slide-3"></div>
      <input id="slide-dot-4" type="radio" name="slides">
        <div class="slide slide-4"></div>
    </div>
  </div>
</div>


  {%if products%}
  <h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
  <br>


  <div class="row">

      {% for p in products %}

      <div class="column">
      <div class="container page-wrapper" style="width: 450px;">
        <div class="page-inner">
          <div class="row">
            <div class="el-wrapper">
              <div class="box-up">
                <img class="img" src="{% static p.product_image.url %}" alt="product pic" height="300px" width="300px">
                <div class="img-info">
                  <div class="info-inner">
                    <span style="background-color:#3e454c; color:fbfbfb;"class="p-company">{{p.name}}</span>

                  </div>
                  <div class="a-size">{{p.description}}</div>
                </div>
              </div>

              <div class="box-down">
                <div class="h-bg">
                  <div class="h-bg-inner"></div>
                </div>

                <a class="cart" href="{% url 'add-to-cart' p.id  %}">
                  <span class="price">${{p.price}}</span>
                  <span class="add-to-cart">
                    <span class="txt"><i class="fa fa-shopping-cart"></i> Add To Cart</span>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

{% if forloop.counter|divisibleby:"3" %}
    </div>
    <div class="row">
          <br><br><br><br><br>
{% endif %}

  {% endfor %}
</div>



{%else%}
<h3 style="text-align:center; color:#3E454C;">No Search Found</h3>
{%endif%}

<script>
    {%if messages %}
    {%for message in messages%}
    alert('{{message}}');
    {%endfor%}
    {%endif%}
</script>
<br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>

-->




