{% extends 'ecom/base.html' %}
{% load static %}
{% block title %}Payment{% endblock%}

{% block content %}
<head>

</head>
<style media="screen">

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
</style>
<br><br>
<center><i>Proceed to Pay</i></center>
<br><br>


<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="card">
      <div class="card-body">
        <div class="row d-flex justify-content-center pb-5">
          <div class="col-md-7 col-xl-5 mb-4 mb-md-0">
            <div class="py-4 d-flex flex-row">
              <h3><span class="far fa-check-square pe-2"></span><b>MPESA</b> |</h3>
              <span class="ps-2">Payment Details</span>
            </div>
            <h6>1. Open Mpesa menu</h6>
              <br>
            <h6>2. Go to Lipa na Mpesa</h6>
              <br>
            <h6>3. Select Buy Goods</h6>
              <br>
            <h6>4. Enter Till number: 5146289</h6>
              <br>
            <h6>5. Enter Mpesa Pin</h6>
              <br>
            <h6>5. Acc Name: Panmu Cyber Cafe</h6>
              <div class="col-md-5 col-xl-4 offset-xl-1">
            <div class="rounded d-flex flex-column p-2" style="background-color: #f8f9fa;">
              <div class="p-2 d-flex pt-3">
                <div class="col-8"><b>Final Payment</b></div>
                <div class="ms-auto"><b class="text-success">Ksh. {{total}}</b></div>
              </div>
            </div>
          </div>
            <hr />
            <div class="pt-2">
                <a href="/payment-success" class="btn btn-success btn-lg btn-block" role="button">Pay</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
